<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coda Pay Gateway</title>
    <link rel="stylesheet" type="text/javascript" href="https://sandbox.codapayments.com/airtime/css/airtime_v1.0.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://sandbox.codapayments.com/airtime/js/airtime_v1.0.js"></script>
    <script type="text/javascript">
        $(function () {
            airtime_checkout("{{token}}");
        });
    </script>
</head>
<body>

</body>
</html>
