<div>
    <table width="600" cellpadding="0" cellspacing="0" style="border: #dddddd 1px solid; padding: 20px 0;">
        <tbody>
        <tr>
            <td>
                <table width="100%" align="center" cellpadding="0" cellspacing="0"
                       style="border-bottom: #ff302d 2px solid; padding-bottom: 12px;">
                    <tbody>
                    <tr>
                        <td style="line-height: 22px; padding-left: 20px;">
                            <a href="http://www.lucky-gou.com/" title="LuckyShop" target="_blank">
                                <img src='http://oa13kohic.bkt.clouddn.com/logo-en.png' 
                                     border="0" width="160px"
                                     height="62"/>
                            </a>
                        </td>
                        <td align="right" style="font-size: 12px; padding-right: 20px; padding-top: 30px;">
                           
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table width="100%" align="center" cellpadding="0" cellspacing="0" style="padding: 0 20px;">
                    <tbody>
                    <tr>
                        <td style="font-size: 14px; color: #333333; height: 40px; line-height: 40px; padding-top: 10px;">
                            Dear 
                            <b style="color: #333333; font-family: Arial;">
                                <a target="_blank">{{ nick_name }},
                                </a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; color: #333333; line-height: 22px;">
                            <p style="text-indent: 2em; padding: 0; margin: 0;">This email was sent automatically by Luckyshop in response to your request to reset your password. This is done for your protection; only you, the recipient of this email can take the next step in the password recovery process.</p>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size: 14px; color: #333333; line-height: 22px;">
                            <p style="text-indent: 2em; padding: 0; margin: 0;">
To reset your password and access your account, either click on the button or copy and paste the following link (expires in 24 hours) into the address bar of your browser
                            </p>
    <p style="text-indent: 22pxem; padding: 0; margin: 0;">
        <a href="{{ code }}">{{ code }}</a>
    </p>
                                   </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
