<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="#abtest/">灰度策略管理</a>
            </li>
        </ol>
    </div>
    <div class="topbar-right">
        <a href="#abtest/add/" class="btn btn-default btn-sm light fw600 ml10 add-new"><span class="fa fa-plus pr5"></span>新增灰度策略</a>
    </div>
</header>

<section id="content" class="animated fadeIn">
    <div class="panel overflow" >
        <table class="table table-striped fs13" id="main-list">
            <thead>
                <tr class="bg-light">
                    <th>ID</th>
                    <th>名称</th>
                    <th>尾号范围</th>
                    <th>渠道列表</th>
                    <th>最后修改时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="admin-form">
                <% _.each(models, function(model){
                    var attrs = model.attributes;
                %>
                    <tr data-id="<%= attrs.id %>" >
                        <td><a href="#abtest/<%= attrs.id %>/" ><%= attrs.id %></a></td>
                        <td><%= attrs.name %></td>
                        <td><%= attrs.user_id %></td>
                        <td><%= attrs.channel || "所有渠道" %></td>
                        <td><%= attrs.updated_at %></td>
                        <td class="text-left">
                            <a class="glyphicons glyphicons-pencil" href="#abtest/<%= attrs.id %>/"></a>
                        </td>
                    </tr>
                <%
                }) %>
            </tbody>
        </table>
    </div>

    <div><div class="pull-left" id="page-tips"></div><div id="paginator"></div></div>
</section>
