<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="#order/">订单管理</a>
            </li>
        </ol>
    </div>
    <div class="topbar-right" id="container">
        <button class="btn btn-default btn-sm" id="importExcel" title="订单编号 快递单号 快递名 供货商 购买价格">导入发货单</button>
        <button class="btn btn-danger btn-sm" id="autoShip" title="请确认本页订单无问题后再使用">一键发货</button>
        <div class="ml15 ib va-m" id="toggle_sidemenu_r">
            <a href="#" class="pl5"> <i class="fa fa-sign-in fs22 text-primary"></i>
            </a>
        </div>
    </div>
</header>

<section id="content" class="animated fadeIn">
    <div class="panel overflow" >
        <table class="table table-striped fs13" id="order-list">
            <thead>
                <tr class="bg-light">
                    <th class="sortable" data-field="id">ID</th>
                    <th>活动名</th>
                    <th>期数</th>
                    <th>商品价格</th>
                    <th>用户ID</th>
                    <th>订单状态</th>
                    <th class="sortable" data-field="updated_at">最后更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="admin-form">
                <% _.each(models, function(model){
                    var attrs = model.attributes;
                %>
                    <tr data-id="<%= attrs.id %>" >
                        <td><a href="#order/<%= attrs.id %>/"><%= attrs.id %></a></td>
                        <td><%= attrs.activity_name %></td>
                        <td><%= attrs.term_number %></td>
                        <td><%= attrs.target_amount %></td>
                        <td><a href="#stats/account/?id=<%= attrs.buyer %>"><%= attrs.is_virtual ? '*' : '' %><%= attrs.buyer %></a></td>
                        <% if(attrs.status == 5 && attrs.ship_status){ %>
                        <td><font color="red"><%= SHIP_STATUS[attrs.ship_status] %></font></td>
                        <% } else { %>
                        <td><%= ORDER_STATUS[attrs.status] %></td>
                        <% } %>
                        <td><%= attrs.updated_at %></td>
                        <td class="text-left">
                            <a class="glyphicons glyphicons-pencil" href="#order/<%= attrs.id %>/"></a>
                        </td>
                    </tr>
                <%
                }) %>
            </tbody>
        </table>
    </div>

    <div><div class="pull-left" id="page-tips"></div><div id="paginator"></div></div>
</section>

<!-- Start: Right Sidebar -->
<aside id="sidebar_right" class="nano">
    <div class="p20 admin-form">

        <h4 class="mt5 text-muted fw500">过滤条件：</h4>

        <hr class="short">

        <div class="section mb15">
            <label for="searchId" class="field prepend-icon">
                <input title="订单编号" type="text" name="order-id" id="searchId" class="gui-input" placeholder="订单编号" data-field="id" value="<%= searched.id %>">
                <label for="order-id" class="field-icon"><i class="fa fa-tag"></i>
                </label>
            </label>
        </div>
        <div class="section mb15">
            <label for="searchExpressNum" class="field prepend-icon">
                <input title="快递编号" type="text" name="express_num" id="searchExpressNum" class="gui-input" placeholder="快递编号"
                data-field="express_num" value="<%= searched.express_num %>">
                <label for="express_num" class="field-icon"><i class="fa fa-tag"></i>
                </label>
            </label>
        </div>
        <div class="section mb15">
            <label for="searchBuyer" class="field prepend-icon">
                <input title="用户ID" type="text" name="buyer" id="searchBuyer" class="gui-input" placeholder="用户ID" data-field="buyer" value="<%= searched.buyer %>">
                <label for="buyer" class="field-icon"><i class="fa fa-tag"></i>
                </label>
            </label>
        </div>
        <div class="section mb15">
            <label for="searchActivityName" class="field prepend-icon">
                <input title="活动名" type="text" id="searchActivityName" class="gui-input" placeholder="活动名" data-field="activity_name" value="<%= searched.activity_name %>">
                <label for="ActivityName" class="field-icon"><i class="fa fa-tag"></i>
                </label>
            </label>
        </div>
        <h6 class="fw400">更新时间</h6>
        <div class="section row">
            <div class="col-md-6">
                <input type="text" name="searchUpdatedLower" id="searchUpdatedAtLower" class="gui-input" data-type="date" value="<%= searched.updated_at_lower %>">
            </div>
            <div class="col-md-6">
                <input type="text" name="searchUpdatedUpper" id="searchUpdatedAtUpper" class="gui-input" data-type="date" value="<%= searched.updated_at_upper %>">
            </div>
        </div>
        <h6 class="fw400">订单状态</h6>
        <div class="section mb15">
            <label class="field select">
                <select id="searchStatus" class="form-control" data-field="status">
                    <option value="-1" <%= searched.status == -1 ? "selected" : "" %>>所有</option>
                    <% _.each(ORDER_STATUS, function(v, k){%>
                    <option value="<%= k %>" <%= searched.status == k ? "selected" : "" %>><%= v %></option>
                    <% }) %>
                </select>
                <i class="arrow double"></i>
            </label>
        </div>
        <div id="shipSearcher">
            <h6 class="fw400">发货状态</h6>
            <div class="section mb15">
                <label class="field select">
                    <select id="searchShipStatus" class="form-control" data-field="ship_status">
                        <option value="-1" <%= searched.ship_status == -1 ? "selected" : "" %>>所有</option>
                        <% _.each(SHIP_STATUS, function(v, k){%>
                        <option value="<%= k %>" <%= searched.ship_status == k ? "selected" : "" %>><%= v %></option>
                        <% }) %>
                    </select>
                    <i class="arrow double"></i>
                </label>
            </div>
        </div>
        <hr class="short">

        <button class="btn btn-primary btn-block" type="button" id="search">搜索</button>
        <button class="btn btn-default btn-block" type="button" id="export">导出名单</button>

    </div>
</aside>
<!-- End: Right Sidebar -->
