<header id="topbar" class="affix">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="<%= window.location.href %>">订单详情</a>
            </li>
            <li class="crumb-link">
                <a href="#order/">订单管理</a>
            </li>
            <li class="crumb-trail">订单编辑</li>
        </ol>
    </div>
    <div class="pull-right">
        <a href="javascript:;" class="btn btn-primary btn-sm light fw600 ml10" id='orderSave'><span class="fa fa-save"></span>保存</a>
    </div>
</header>
<section id="content">
    <div class="panel">
        <form id="order-form" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-1 control-label">订单编号：</label>
                <div class="col-md-4">
                    <p class="form-control-static text-muted">
                        <%= info.id %>
                    </p>
                </div>
                <label class="col-md-1 control-label">订单所属活动：</label>
                <div class="col-md-4">
                    <p class="form-control-static text-muted">
                        <%= info.activity_name %>(第<%= info.term_number %>期)
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-1 control-label">对应商品源：</label>
                <div class="col-md-9">
                    <p class="form-control-static">
                    <% if(info.source){
                        _.each(info.source.split(','), function(link){
                        if(link.trim()){ %>
                        <a href="<%= link %>"><%= link %></a>
                    <% }})} %>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">商品市场价：</label>
                <div class="col-md-4">
                    <p class="form-control-static text-muted">
                        <%= info.goods_price %>
                    </p>
                </div>
                <label class="col-md-1 control-label">商品活动价：</label>
                <div class="col-md-4">
                    <p class="form-control-static text-muted">
                        <%= info.target_amount %>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">购买者ID：</label>
                <div class="col-md-4">
                    <p class="form-control-static text-muted">
                        <a href="#stats/account/?id=<%= info.buyer %>"><%= info.buyer %></a>
                    </p>
                </div>
                <label class="col-md-1 control-label">自有用户：</label>
                <div class="col-md-4">
                    <p class="form-control-static text-muted">
                        <% var not_real = info.is_virtual ? '是' : '否'; %>
                        <%= not_real %>
                    </p>
                </div>
            </div>
            <% if(info.status >= 5){ %>
                <div class="form-group">
                    <label class="col-md-1 control-label">领奖时间：</label>
                    <div class="col-md-4">
                        <p class="form-control-static text-muted">
                            <%= info.extend.award_time %>
                        </p>
                    </div>
                    <label class="col-md-1 control-label">发货时间：</label>
                    <div class="col-md-4">
                        <p class="form-control-static text-muted">
                            <%= info.extend.send_time %>
                        </p>
                    </div>
                </div>
            <% } %>
            <div class="form-group">
                <label class="col-md-1 control-label">订单状态：</label>
                <div class="col-md-4">
                    <select id="inputStatus" class="form-control">
                        <% _.each(ORDER_STATUS, function(v, k){ %>
                            <option value="<%= k %>" <%= info.status == k ? "selected" : "" %>> <%= v %> </option>
                        <% }) %>
                    </select>
                    <% if(info.status == 5 && info.ship_status){
                        if(info.extend.ship_msg){ %>
                            <span class="label label-danger"><%= info.extend.ship_msg %></span>
                        <% }else { %>
                            <span class="label label-danger"><%= SHIP_STATUS[info.ship_status] %></span>
                        <% }
                    } %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="inputAddr">收件人信息：</label>
                <div class="col-md-9">
                <div class="col-md-9">
                    <div class="form-control-static text-muted">
                        <% if(info.receipt_address.is_resell == 1){ %>
                            <p>resell 姓名: <%= info.receipt_address.resell_name || '' %></p>
                            <p>resell 账户: <%= info.receipt_address.resell_rekening || '' %></p>
                            <p>resell 联系方式 : <%= info.receipt_address.resell_phone || '' %></p>
                            <p>resell 银行: <%= info.receipt_address.resell_bank || '' %></p>
                            <p>resell 支行: <%= info.receipt_address.resell_cabang || '' %></p>
                        <% }else { %>
                            <p>姓名: <%= info.receipt_address.name || ''%></p>
                            <% if(info.receipt_address.shipping_type == 4){ %>
                              <p>Email: <%= info.receipt_address.address %></p>
                            <% } else if (info.receipt_address.shipping_type == 5) { %>
                              <p>Gojek: <%= info.receipt_address.address %></p>
                            <% } else if (info.receipt_address.shipping_type == 6) { %>
                              <p>电费: <%= info.receipt_address.address %></p>
                            <% } else { %>
                              <p>联系方式: <%= info.receipt_address.phone %></p>
                              <p>通信地址: <%= info.receipt_address.address || '' %></p>
                            <%  }%>
                            <p>备注: <%= info.remark || '' %></p>
                        <%  } %>
                    </div>
                </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputBuyPrice" class="col-md-1 control-label">购买价格：</label>
                <div class="col-md-4">
                    <input id="inputBuyPrice" class="form-control" type="text" value="<%= info.extend.buy_price %>" />
                </div>
                <label for="inputBuyFrom" class="col-md-1 control-label">供货商：</label>
                <div class="col-md-4">
                    <input id="inputBuyFrom" class="form-control" type="text" value="<%= info.extend.buy_from %>" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputExpress" class="col-md-1 control-label">所用快递：</label>
                <div class="col-md-4">
                    <input id="inputExpress" class="form-control" type="text" value="<%= info.extend.express %>" />
                </div>
                <label for="inputExpressNum" class="col-md-1 control-label">快递编号：</label>
                <div class="col-md-4">
                    <input id="inputExpressNum" class="form-control" type="text" value="<%= info.extend.express_num %>" />
                </div>
            </div>
        </form>
    </div>

</section>
