<div class="form-group">
    <label class="col-md-1 control-label" id="categoryChooser">分类：</label>
    <div class="col-md-11">    
    <% _.each(tree, function(ca, index){
        if(ca.length > 0){ %>
            <select name="categories" data-level="<%= index %>" class="form-control search-select category-select">
                <% if(category[index] == null){ %>
                <option class="placeholder" disabled selected value> -- 请选择 -- </option>
                <% } %>                
                <% _.each(ca.models, function(model){
                    var attrs = model.attributes; %>
                    <option value="<%= attrs.id %>" <%= attrs.id == category[index] ? "selected" : "" %>><%= attrs.name %></option>
                <% }); %>
            </select>
    <% }}); %>
    <% if(tree.length === 0 ){ %>
        <p class="text-muted form-control-static">无可选分类</p>
    <% } %>
    </div>
</div>
<div class="form-group" id="goodsChooser">
    <label class="col-md-1 control-label" for="inputGoods">商品名：</label>
    <div class="col-md-9">
        <select name="goods" id="inputGoods" class="form-control search-select" data-field="goods_id" data-type="int">
        <% if(goods_id == null){ %>
            <option class="placeholder" disabled selected value> -- 请选择 -- </option>
        <% } %>
        <% _.each(goodsModels, function(model){
            var attrs = model.attributes; %>
            <option value="<%= attrs.id %>" <%= attrs.id == goods_id ? "selected": "" %>><%= attrs.name %></option>
        <% }) %>
        </select>
    </div>
</div>