<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="#goods/source/">货源列表</a>
            </li>
        </ol>
    </div>
    <div class="topbar-right">
        <a href="#goods/source/add/" class="btn btn-default btn-sm light fw600 ml10"><span class="fa fa-plus pr5"></span>新增货源</a>
    </div>
</header>

<section id="content" class="animated fadeIn">
    <div class="panel overflow" >
        <table class="table table-striped fs13" id="main-list">
            <thead>
                <tr class="bg-light">
                    <th class="sortable" data-field="id">ID</th>
                    <th class="sortable" data-field="name">名称</th>
                    <th class="sortable" data-field="updated_at">最后更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="admin-form">
                <% _.each(items, function(item){ %>
                    <tr data-id="<%= item.id %>" >
                        <td><a href="#goods/source/<%= item.id %>/" ><%= item.id %></a></td>
                        <td><%= item.name %></td>
                        <td><%= item.updated_at %></td>
                        <td class="text-left">
                            <a class="glyphicons glyphicons-pencil" href="#goods/source/<%= item.id %>/"></a>
                            <!--<a class="glyphicons glyphicons-remove_2 delete-item" href="javascript:;"></a>-->
                        </td>
                    </tr>
                <%
                }) %>
            </tbody>
        </table>
    </div>

    <div><div class="pull-left" id="page-tips"></div><div id="paginator"></div></div>
</section>