<div class="dd" id="commAttr">
    <ol class="dd-list">
        <li class="dd-item">
            <div class="dd-handle dd-nodrag dd-primary">基本信息</div>
            <div class="dd-content mb15">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputTitle" class="col-md-1 control-label">版本信息:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" data-field="title" id="inputTitle" value="<%= info.title %>" placeholder="形如V1.0, 适配的最高或最低版本" required>
                        </div>
                        <label for="inputRemark" class="col-md-1 control-label">备注:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" data-field="remark" id="inputRemark" value="<%= info.remark %>" placeholder="主要修改">
                        </div>
                        <label for="inputRegion" class="col-md-1 control-label">地区:</label>
                        <div class="col-md-3">
                            <select id="inputRegion" class="form-control">
                                <%_.each(SERVER_REGION, function(v, k){
                                    var code = info.content.region || {};
                                    code = code.code || 0;
                                %>
                                    <option value="<%= k %>" <%= code == k ? 'selected' : '' %> ><%= v.areaName %></option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDeviceType" class="col-md-1 control-label">适配系统:</label>
                        <div class="col-md-3">
                            <select id="inputDeviceType" class="multiselect form-control" multiple="multiple" data-field="device_type" required>
                                <%_.each(DEVICE_TYPE, function(v, k){ %>
                                    <option value="<%= k %>" <%= info.device_type & k ? "selected" : "" %>><%= v %></option>
                                <% })%>
                            </select>
                        </div>
                        <label for="inputMinVersion" class="col-md-1 control-label">支持最低版本(含):</label>
                        <div class="col-md-3">
                            <input id="inputMinVersion" type="number" class="form-control" data-type="int" data-field="min_version" value="<%= info.min_version %>" placeholder="最少为1" required>
                        </div>
                        <label for="inputMaxVersion" class="col-md-1 control-label">支持最高版本(含):</label>
                        <div class="col-md-3">
                            <input id="inputMaxVersion" type="number" class="form-control" data-useless="" data-type="int" data-field="max_version" value="<%= info.max_version %>" placeholder="可不填">
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ol>
</div>
<div>
    <button class="btn btn-default" id="expandAll">展开全部</button>
    <button class="btn btn-default" id="collapseAll">收起全部</button>
</div>
<div class="dd" id="nestedList">
    <ol class="dd-list" id='root'>
        <li class="dd-item">
            <div class="dd-handle dd-nodrag dd-primary">跑马灯配置</div>
            <ol class="dd-list" data-field="scrolling" data-type="dict">
                <li class="dd-item">
                    <div class="dd-content">
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-1">停留时间(秒):</label>
                            <div class="col-md-9">
                                <input data-field="stay" type="number" class="form-control" value="<%= info.content.scrolling.stay || 3 %>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">拉取时间间隔(秒):</label>
                            <div class="col-md-9">
                                <input type="number" data-field="fetch_interval" class="form-control" value="<%= info.content.scrolling.fetch_interval || 3600 %>" required>
                            </div>
                        </div>
                        </form>
                    </div>
                </li>
            </ol>
        </li>
        <li class="dd-item" id="iosSpecific" hidden="hidden">
            <div class="dd-handle dd-nodrag dd-primary">iOS配置</div>
            <ol class="dd-list" data-field="ipay" data-type="dict">
                <li class="dd-item">
                    <div class="dd-content">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-1">模式选择:</label>
                                <div class="col-md-9">
                                    <select class="form-control" data-field="webmode">
                                        <% var webmode = info.content.ipay ? info.content.ipay.webmode : 0 %>
                                        <option value="0" <%= webmode == '0' ? 'selected' : '' %>>审核模式</option>
                                        <option value="1" <%= webmode == '1' ? 'selected' : '' %>>发布模式</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ol>
        </li>
    </ol>
</div>

