<header id="topbar" class="affix">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="<%= window.location.href %>">预置数据详情</a>
            </li>
            <li class="crumb-link">
                <a href="#preset/">预置数据管理</a>
            </li>
            <li class="crumb-trail">预置数据编辑</li>
        </ol>
    </div>
    <div class="pull-right">
        <a href="javascript:;" class="btn btn-primary btn-sm light fw600 ml10" id='save'><span class="fa fa-save"></span>保存</a>
    </div>
</header>
<section id="content">
</section>
