<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="#shortcut/">Shortcut数据管理</a>
            </li>
        </ol>
    </div>
    <div class="topbar-right">
        <a href="#shortcut/add/" class="btn btn-default btn-sm light fw600 ml10"><span class="fa fa-plus pr5"></span>新增Shortcut数据</a>
        <!--<div class="ml15 ib va-m" id="toggle_sidemenu_r">
            <a href="#" class="pl5"> <i class="fa fa-sign-in fs22 text-primary"></i>
            </a>
        </div>-->
    </div>
</header>

<section id="content" class="animated fadeIn">
    <div class="panel overflow" >
        <table class="table table-striped fs13" id="main-list">
            <thead>
                <tr class="bg-light">
                    <th>ID</th>
                    <th>名称</th>
                    <th>图像</th>
                    <th>命令</th>
                    <th>灰度策略</th>
                    <th class="sortable" data-field="updated_at">最后修改时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="admin-form">
                <% _.each(shortcuts, function(shortcut){ %>
                    <tr data-id="<%= shortcut.id %>" >
                        <td><a href="#shortcut/<%= shortcut.id %>/" ><%= shortcut.id %></a></td>
                        <td><%= shortcut.title %></td>
                        <td>
                            <img src="<%= shortcut.icon %>" height="30" max-width="30" />
                        </td>
                        <td><%= shortcut.command %></td>
                        <td><%= shortcut.abtest || '-'%></td>
                        <td><%= shortcut.updated_at %></td>
                        <td class="text-left">
                            <a class="glyphicons glyphicons-pencil" href="#shortcut/<%= shortcut.id %>/"></a>
                            <a class="glyphicons glyphicons-remove_2 onClickDelete" href="javascript:;"></a>
                        </td>
                    </tr>
                <%
                }) %>
            </tbody>
        </table>
    </div>

    <div><div class="pull-left" id="page-tips"></div><div id="paginator"></div></div>
</section>
