<div class="dd-handle dd-nodrag dd-primary">Shortcut配置
    <span class="pull-right">
        <a class="fa fa-plus pt5 pull-right add-select" id="addShortcut" href="#"></a>
    </span>
</div>
<ol class="dd-list" data-field="shortcut" data-type="flat">
    <li class="dd-item">
        <div class="dd-content">
            <div class="row sortable">
                <% _.each(shortcuts, function(shortcut){ %>
                    <div class="col-lg-3 col-md-4 col-xs-6" data-field="-" data-value="<%= shortcut.id %>" data-type="int">
                        <div class="row">
                            <a href="#" class="close delete-shortcut" data-id=<%= shortcut.id %>>x</a>
                            <a href="<%= shortcut.icon %>" data-id="<%= shortcut.id %>" class="thumbnail image-popup">
                                <img src="<%= shortcut.icon %>" class="fix-icon" alt="图像丢失">
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </li>
</ol>

    <!-- Panel popup -->
<div id="addShortcutPanel" class="popup-basic popup-lg bg-none mfp-with-anim mfp-hide">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-icon"><i class="fa fa-pencil"></i></span>
            <span class="panel-title">添加Shortcut</span>
        </div>
        <div class="panel-body">
            <form id="coupon-form" class="form-horizontal" role="form">
                <div class="form-group" id="coupon-group">
                    <label for="inputShortcut" class="col-md-2 control-label">请勾选：</label>
                    <div class="col-md-6">
                        <% var selected = _.pluck(shortcuts, 'id'); %>
                        <select id="inputShortcut" class="form-control" multiple>
                            <% _.each(allShortcuts, function(shortcut){
                            if(selected.indexOf(shortcut.id) >= 0 )return; %>
                                <option value="<%= shortcut.id %>"><%= shortcut.title %><%= shortcut.remark ? "(" + shortcut.remark + ")" : "" %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-primary" type="button" id="submitAddShortcut">确定</button>
        </div>
    </div>
</div>