<header id="topbar" class="affix">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="<%= window.location.href %>">Theme详情</a>
            </li>
            <li class="crumb-trail">编辑</li>
        </ol>
    </div>
    <div class="pull-right">
        <a href="javascript:;" class="btn btn-primary btn-sm light fw600 ml10" id='save'><span class="fa fa-save"></span>保存</a>
    </div>
</header>

<section id="content">
    <div class="panel">
        <form class="form-horizontal">
            <!--名称和备注,开始结束时间-->
            <div class="form-group">
                <label for="inputTitle" class="col-md-1 control-label">名称：</label>
                <div class="col-md-4">
                    <input data-field="title" type="text" class="form-control"  value="<%= info.title %>" required>
                </div>
                <label for="inputRemark" class="col-md-1 control-label">备注：</label>
                <div class="col-md-4">
                    <input data-field="remark" type="text" class="form-control"  value="<%= info.remark %>" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputStartTs" class="col-md-1 control-label">生效时间：</label>
                <div class="col-md-4">
                    <input data-field="start_ts" type="text" id="inputStartTs" class="form-control date-box" 
                    value=<%= moment.unix(info.start_ts).format('YYYY-MM-DD') %> required>
                </div>
                <label for="inputEndTs" class="col-md-1 control-label">失效时间：</label>
                <div class="col-md-4">
                    <input data-field="end_ts" type="text" id="inputEndTs" class="form-control date-box" 
                    value=<%= moment.unix(info.end_ts).format('YYYY-MM-DD') %> required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAbtest" class="col-md-1 control-label">灰度策略：</label>
                <div class="col-md-4">
                    <select data-field='abtest' data-type="int" class="form-control multiselect">
                        <option value="-1" <%= info.abtest ? "" : "selected" %>>所有用户可见</option>
                        <% _.each(abtests, function(o){ %>
                        <option value="<%= o.id %>" <%= o.id == info.abtest ? "selected" : "" %>><%= o.name %></option>
                        <% }) %>
                    </select>
                </div>
                <label for="inputActive" class="col-md-1 control-label">激活: </label>
                <div class="col-md-4">
                    <select data-field='active' data-type="int" class="form-control multiselect">
                        <option value="1" <%= info.active ? "selected" : "" %> >是</option>
                        <option value="0" <%= info.active ? "" : "selected" %> >否</option>
                    </select>
                </div>
            </div>
            <br> <br>
            
            <!--theme_color--> <h1>主题颜色设置</h1>
            <div class="form-group">
                <label for="inputGlobalThemeColor" class="col-md-1 control-label">主题色(背景)</label>
                <div class="col-md-4">
                    <input data-field='global_theme_color' type="text" id="inputGlobalThemeColor" class="form-control" 
                    value="<%= info.content.theme_color.global_theme_color %>"
                     placeholder="全局默认的主体色调(背景)"  required>
                </div>
                <label for="inputGlobalThemeTextColor" class="col-md-1 control-label">主题色(前景,文字)</label>
                <div class="col-md-4">
                    <input data-field="global_theme_text_color" type="text" class="form-control" id="inputGlobalThemeTextColor"
                    value="<%= info.content.theme_color.global_theme_text_color %>" placeholder="主题色,全局默认的主体色调(前景,文字)"  required  >
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitleBarBgColor" class="col-md-1 control-label">title bar背景色</label>
                <div class="col-md-4">
                    <input data-field="title_bar_bg_color" type="text" id="inputTitleBarBgColor" class="form-control"
                    value="<%= info.content.theme_color.title_bar_bg_color %>" placeholder="全局所有界面顶部title bar的背景颜色" required>
                </div>
                <label for="inputTitleBarTextColor" class="col-md-1 control-label">title bar文字色</label>
                <div class="col-md-4">
                    <input data-field="title_bar_text_color" type="text" id="inputTitleBarTextColor" class="form-control"
                    value="<%= info.content.theme_color.title_bar_text_color %>" placeholder="全局所有界面顶部title_bar上文字的颜色" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputGlobalTextBlueColor" class="col-md-1 control-label">蓝色文字颜色</label>
                <div class="col-md-4">
                    <input data-field="global_text_blue_color" type="text" id="inputGlobalTextBlueColor" class="form-control"
                    value="<%= info.content.theme_color.global_text_blue_color %>" placeholder="用于中奖记录等相关用户昵称的显示" required>
                </div>
                <label for="inputUserCenterTopBgColor" class="col-md-1 control-label">红色区域背景色</label>
                <div class="col-md-4">
                    <input data-field="user_center_top_bg_color" type="text" id="inputUserCenterTopBgColor" class="form-control"
                    value="<%= info.content.theme_color.user_center_top_bg_color %>" placeholder='用户中心和"我的元宝"项部红色区域背景颜色' required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputMyProfileTopBgColor" class="col-md-1 control-label">头像昵称背景色</label>
                <div class="col-md-4">
                    <input data-field="my_profile_top_bg_color" type="text" id="inputMyProfileTopBgColor" class="form-control"
                    value="<%= info.content.theme_color.my_profile_top_bg_color %>" placeholder='"我的"界面顶部头像和昵称显示区域背景颜色' required>
                </div>
                <label for="inputProgressBarLightColor" class="col-md-1 control-label">进度条颜色</label>
                <div class="col-md-4">
                    <input data-field="progress_bar_light_color" type="text" id="inputProgressBarLightColor" class="form-control"
                    value="<%= info.content.theme_color.progress_bar_light_color %>" placeholder='进度条进度部分颜色' required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputRevealedCountDownTextColor" class="col-md-1 control-label">最新揭晓倒计时文字颜色</label>
                <div class="col-md-4">
                    <input data-field="revealed_count_down_text_color" type="text" id="inputRevealedCountDownTextColor" class="form-control"
                    value="<%= info.content.theme_color.revealed_count_down_text_color %>" placeholder='最新揭晓倒计时文字颜色' required>
                </div>
                <label for="inputZeroFreshCountDownTextColor" class="col-md-1 control-label">首页零元购倒计时"即将开始"文字的颜色</label>
                <div class="col-md-4">
                    <input data-field="zero_fresh_count_down_text_color" type="text" id="inputZeroFreshCountDownTextColor" class="form-control"
                    value="<%= info.content.theme_color.zero_fresh_count_down_text_color %>" placeholder='首页零元购倒计时"即将开始"文字的颜色' required>
                </div>
            </div>
            <div class="form-group">
               <label for="inputHightLightButtonBgColor" class="col-md-1 control-label">"加入清单"button色值</label>
                <div class="col-md-4">
                    <input data-field="hight_light_button_bg_color" type="text" id="inputHightLightButtonBgColor" class="form-control"
                    value="<%= info.content.theme_color.hight_light_button_bg_color %>" placeholder='"加入清单" button色值' required>
                </div>
                <label for="inputHightLightButtonTextColor" class="col-md-1 control-label">"加入清单"button文字的颜色</label>
                <div class="col-md-4">
                    <input data-field="hight_light_button_text_color" type="text" id="inputHightLightButtonTextColor" class="form-control"
                    value="<%= info.content.theme_color.hight_light_button_text_color %>" placeholder='"加入清单" button文字的颜色' required>
                </div> 
            </div>
            <br>  <br>  
            <!--theme icon--> <h1>主题图标设置</h1>
            <div class="form-group">
                <label class="col-md-1 control-label">主界面title bar左侧的分类按钮图标</label>
                <div class="col-md-1" id="inputMainTitleCategoryIcon">
                    <a href="<%= info.content.theme_icon.main_title_category_icon %>" class="image-popup">
                        <img data-field="main_title_category_icon" src="<%= info.content.theme_icon.main_title_category_icon %>" alt="图像无法显示" class="fix-icon" id="themeImg1">
                    </a>
                    <button id='uploadImg1' data-img="themeImg1" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">主界面title bar右侧的搜索按钮</label>
                <div class="col-md-1" id="inputMainTitleSearchIcon">
                    <a href="<%= info.content.theme_icon.main_title_search_icon %>" class="image-popup">
                        <img data-field="main_title_search_icon" src="<%= info.content.theme_icon.main_title_search_icon %>" alt="图像无法显示" class="fix-icon" id="themeImg2">
                    </a>
                    <button id='uploadImg2' data-img="themeImg2" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">checkbox选中状态</label>
                <div class="col-md-1" id="inputCheckBoxCheckIcon">
                    <a href="<%= info.content.theme_icon.check_box_check_icon %>" class="image-popup">
                        <img data-field="check_box_check_icon" src="<%= info.content.theme_icon.check_box_check_icon %>" alt="图像无法显示" class="fix-icon" id="themeImg3">
                    </a>
                    <button id='uploadImg3' data-img="themeImg3" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">checkbox未选中状态</label>
                <div class="col-md-1" id="inputCheckBoxCheckIcon">
                    <a href="<%= info.content.theme_icon.check_box_uncheck_icon %>" class="image-popup">
                        <img data-field="check_box_uncheck_icon" src="<%= info.content.theme_icon.check_box_uncheck_icon %>" alt="图像无法显示" class="fix-icon" id="themeImg4">
                    </a>
                    <button id='uploadImg4' data-img="themeImg4" class="form-control">更换图像</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">title bar返回按钮</label>
                <div class="col-md-1" id="inputTitleBarBackIcon">
                    <a href="<%= info.content.theme_icon.title_bar_back_icon %>" class="image-popup">
                        <img data-field="title_bar_back_icon" src="<%= info.content.theme_icon.title_bar_back_icon %>" alt="图像无法显示" class="fix-icon" id="themeImg5">
                    </a>
                    <button id='uploadImg5' data-img="themeImg5" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">圆形叹号形状的icon</label>
                <div class="col-md-1" id="inputTitleBarTipsIcon">
                    <a href="<%= info.content.theme_icon.title_bar_tips_icon %>" class="image-popup">
                        <img data-field="title_bar_tips_icon" src="<%= info.content.theme_icon.title_bar_tips_icon %>" alt="图像无法显示" class="fix-icon" id="themeImg6">
                    </a>
                    <button id='uploadImg6' data-img="themeImg6" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">title bar分享按钮</label>
                <div class="col-md-1" id="inputTitleBarShareIcon">
                    <a href="<%= info.content.theme_icon.title_bar_share_icon %>" class="image-popup">
                        <img data-field="title_bar_share_icon" src="<%= info.content.theme_icon.title_bar_share_icon %>" alt="图像无法显示" class="fix-icon" id="themeImg7">
                    </a>
                    <button id='uploadImg7' data-img="themeImg7" class="form-control">更换图像</button>
                </div>
            </div>
            <br> <br>
            <!--main tab--> <h1>main tab设置</h1>
            <div class="form-group">
                <label for="inputTextNormalColor" class="col-md-1 control-label">文字颜色</label>
                <div class="col-md-4">
                    <input data-field="text_normal_color" type="text" id="inputTextNormalColor" class="form-control"
                    value="<%= info.content.main_tab.text_normal_color %>" placeholder='main tab文字颜色' required>
                </div>
                <label for="inputTextSelectColor" class="col-md-1 control-label">文字颜色(选中)</label>
                <div class="col-md-4">
                    <input data-field="text_select_color" type="text" id="inputTextSelectColor" class="form-control"
                    value="<%= info.content.main_tab.text_select_color %>" placeholder='main tab文字颜色(选中)' required>
                </div> 
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">夺宝</label>
                <div class="col-md-1" id="inputIconMainNormal">
                    <a href="<%= info.content.main_tab.item_icon.main.normal %>" class="image-popup">
                        <img data-field="main-normal" src="<%= info.content.main_tab.item_icon.main.normal %>" alt="图像无法显示" class="fix-icon" id="themeImg8">
                    </a>
                    <button id='uploadImg8' data-img="themeImg8" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">夺宝(选中)</label>
                <div class="col-md-1" id="inputIconMainPress">
                    <a href="<%= info.content.main_tab.item_icon.main.press %>" class="image-popup">
                        <img data-field="main-press" src="<%= info.content.main_tab.item_icon.main.press %>" alt="图像无法显示" class="fix-icon" id="themeImg9">
                    </a>
                    <button id='uploadImg9' data-img="themeImg9" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">开奖</label>
                <div class="col-md-1" id="inputIconDrawNormal">
                    <a href="<%= info.content.main_tab.item_icon.draw.normal %>" class="image-popup">
                        <img data-field="draw-normal" src="<%= info.content.main_tab.item_icon.draw.normal %>" alt="图像无法显示" class="fix-icon" id="themeImg17">
                    </a>
                    <button id='uploadImg17' data-img="themeImg17" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">开奖(选中)</label>
                <div class="col-md-1" id="inputIconDrawPress">
                    <a href="<%= info.content.main_tab.item_icon.draw.press %>" class="image-popup">
                        <img data-field="draw-press" src="<%= info.content.main_tab.item_icon.draw.press %>" alt="图像无法显示" class="fix-icon" id="themeImg10">
                    </a>
                    <button id='uploadImg10' data-img="themeImg10" class="form-control">更换图像</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">发现</label>
                <div class="col-md-1" id="inputIconDiscoverNormal">
                    <a href="<%= info.content.main_tab.item_icon.discover.normal %>" class="image-popup">
                        <img data-field="discover-normal" src="<%= info.content.main_tab.item_icon.discover.normal %>" alt="图像无法显示" class="fix-icon" id="themeImg11">
                    </a>
                    <button id='uploadImg11' data-img="themeImg11" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">发现(选中)</label>
                <div class="col-md-1" id="inputIconMainPress">
                    <a href="<%= info.content.main_tab.item_icon.discover.press %>" class="image-popup">
                        <img data-field="discover-press" src="<%= info.content.main_tab.item_icon.discover.press %>" alt="图像无法显示" class="fix-icon" id="themeImg12">
                    </a>
                    <button id='uploadImg12' data-img="themeImg12" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">清单</label>
                <div class="col-md-1" id="inputIconCartNormal">
                    <a href="<%= info.content.main_tab.item_icon.cart.normal %>" class="image-popup">
                        <img data-field="cart-normal" src="<%= info.content.main_tab.item_icon.cart.normal %>" alt="图像无法显示" class="fix-icon" id="themeImg13">
                    </a>
                    <button id='uploadImg13' data-img="themeImg13" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">清单(选中)</label>
                <div class="col-md-1" id="inputIconMainPress">
                    <a href="<%= info.content.main_tab.item_icon.cart.press %>" class="image-popup">
                        <img data-field="cart-press" src="<%= info.content.main_tab.item_icon.cart.press %>" alt="图像无法显示" class="fix-icon" id="themeImg14">
                    </a>
                    <button id='uploadImg14' data-img="themeImg14" class="form-control">更换图像</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">我的</label>
                <div class="col-md-1" id="inputIconMyNormal">
                    <a href="<%= info.content.main_tab.item_icon.my.normal %>" class="image-popup">
                        <img data-field="my-normal" src="<%= info.content.main_tab.item_icon.my.normal %>" alt="图像无法显示" class="fix-icon" id="themeImg15">
                    </a>
                    <button id='uploadImg15' data-img="themeImg15" class="form-control">更换图像</button>
                </div>
                <label class="col-md-1 control-label">我的(选中)</label>
                <div class="col-md-1" id="inputIconMyPress">
                    <a href="<%= info.content.main_tab.item_icon.my.press %>" class="image-popup">
                        <img data-field="my-press" src="<%= info.content.main_tab.item_icon.my.press %>" alt="图像无法显示" class="fix-icon" id="themeImg16">
                    </a>
                    <button id='uploadImg16' data-img="themeImg16" class="form-control">更换图像</button>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Panel popup -->
<div id="uploadImagePanel" class="popup-basic popup-lg bg-none mfp-with-anim mfp-hide">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-icon"><i class="fa fa-pencil"></i></span>
            <span class="panel-title">上传icon</span>
        </div>
        <div class="panel-body">
            <h3 class="mt5">单个图片最好不要超过4M，可多选</h3>
            <div class="col-md-10">
                <div id="container">
                    <a class="btn btn-default btn-lg" id="pickfiles" href="#">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>选择文件</span>
                    </a>
                </div>
            </div>
            <div style="margin-top:40px;display:none" id="success" class="col-md-10">
                <div class="alert-success">
                    队列全部文件处理完毕
                </div>
            </div>
            <div class="col-md-10">
                <table class="table table-striped table-hover text-left" id="processTable" style="margin-top:40px;display:none">
                    <thead>
                        <tr>
                            <th class="col-md-3">thumb</th>
                            <th class="col-md-2">size</th>
                            <th class="col-md-3">link</th>
                        </tr>
                    </thead>
                    <tbody id="fsUploadProgress">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-primary" type="button" id="addCachedImgs">确定</button>
        </div>
    </div>
</div>









