<header id="topbar" class="">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="#stats/pay/">付费信息</a>
            </li>
        </ol>
    </div>
    <div class="topbar-right">
        <a href="#" class="btn btn-default btn-sm light fw600 ml10" id="exportData"><span class="glyphicon glyphicon-cloud-download pr5"></span>导出数据</a>
        <div class="ml15 ib va-m" id="toggle_sidemenu_r">
            <a href="#" class="pl5"> <i class="fa fa-sign-in fs22 text-primary"></i>
            </a>
        </div>
    </div>
</header>

<section id="content" class="animated fadeIn">
    <%if(models.length>0){%>
    <div class="panel overflow">
        <table class="table table-striped fs13" id="pay-list">
            <thead>
                <tr class="bg-light">
                    <th class="sortable" data-field="id">ID</th>
                    <th class="sortable" data-field="created_at">创建时间</th>
                    <th>用户ID</th>
                    <th>用户类型</th>
                    <th>充值类型</th>
                    <th class="sortable" data-field="price">充值金额</th>
                    <th class="">充值入口</th>
                </tr>
            </thead>
            <tbody class="admin-form">
                <% _.each(models, function(model){
                    var attrs = model.attributes;
                %>
                    <tr data-id="<%= attrs.id %>" >
                        <td class=""><%= attrs.id %></td>
                        <td class=""><%= attrs.created_at %></td>
                        <td class=""><a href="#stats/account/?id=<%= attrs.user_id %>"><%= attrs.is_virtual ? '*' : '' %><%= attrs.user_id %><a></td>
                        <td class=""><%= utype[attrs.user_type] || "(账户丢失)"%></td>
                        <td class=""><%= ptype[attrs.pay_type] || "(未知)"%></td>
                        <td class=""><%= attrs.price %></td>
                        <td class=""><%= attrs.activity_name || '-' %></td>
                    </tr>
                <%
                }) %>
            </tbody>
        </table>
    </div>

    <div><div class="pull-left" id="page-tips"></div><div id="paginator"></div></div>
    <% }else{ %>
    <h4 class="text-muted">无数据</h4>
    <% } %>
</section>

<!-- Start: Right Sidebar -->
<aside id="sidebar_right" class="nano">
    <div class="p20 admin-form">
        <h4 class="mt5 text-muted fw500">统计数据(按筛选内容)：</h4>
        <hr class="short">
        <% var total = 0,
               count = 0;
         _.each(overview, function(obj){
         total += obj.total;
         count += obj.count;
        %>
            <h5 class="title-divider text-muted mb20"><%= ptype[obj.pay_type] %><span class="pull-right"> <%= obj.total %>/<%= obj.count %>次 </span> </h5>
        <%})
          if(overview.length > 1){%>
            <h5 class="title-divider text-muted mb20">总计<span class="pull-right"> <%= total.toFixed(2) %>/<%= count %>次 </span> </h5>
          <% }else if(overview.length == 0){ %>
            <h5 class="text-muted mb20">无数据...</h5>
          <% } %>
        <h4 class="mt5 text-muted fw500">过滤条件：</h4>
        <hr class="short">
        <div class="section mb15">
            <label for="searchUserId" class="field prepend-icon">
                <input title="用户ID" type="text" data-field="user_id" id="searchUserId" class="gui-input" placeholder="用户ID" value="<%= searched.user_id  %>">
                <label for="searchUserId" class="field-icon"><i class="fa fa-tag"></i>
                </label>
            </label>
        </div>
        <h6 class="fw400">充值时间</h6>
        <div class="section row">
            <div class="col-md-6">
                    <input type="text" title="下限，包含当天" name="searchCreatedAtLower" id="searchCreatedAtLower" class="gui-input" data-type="date" value="<%= searched.created_at_lower %>">
                    </label>
                </label>
            </div>
            <div class="col-md-6">
                    <input type="text" title="上限，不包括当天" name="searchCreatedAtUpper" id="searchCreatedAtUpper" class="gui-input" data-type="date" value="<%= searched.created_at_upper %>">
                    </label>
                </label>
            </div>
        </div>
        <h6 class="fw400">付费入口</h6>
        <div class="section mb15">
            <label class="field select">
                <select id="searchType" name="searchType" data-field="type">
                    <option value="-1" <%= searched.type == -1 ? 'selected' : '' %>>所有</option>
                    <option value="0" <%= searched.type == 0 ? 'selected' : '' %>>仅充值</option>
                    <option value="1" <%= searched.type == 1 ? 'selected' : '' %>>充值并购买</option>
                </select>
                <i class="arrow double"></i>
            </label>
        </div>
        <h6 class="fw400">充值方式</h6>
        <div class="section mb15">
            <label class="field select">
                <select id="searchPayType" name="searchPayType" data-field="pay_type">
                    <option value="-1" <%= searched.pay_type == -1 ? 'selected' : '' %>>所有</option>
                    <option value="3" <%= searched.pay_type == 3 ? 'selected' : '' %>>微信</option>
                    <option value="10" <%= searched.pay_type == 10 ? 'selected' : '' %>>友信</option>
                    <option value="2" <%= searched.pay_type == 2 ? 'selected' : '' %>>支付宝</option>
                    <option value="8" <%= searched.pay_type == 8 ? 'selected' : '' %>>支付宝WAP</option>
                    <option value="7" <%= searched.pay_type == 7 ? 'selected' : '' %>>爱贝</option>
                    <option value="11" <%= searched.pay_type == 11 ? 'selected' : '' %>>爱贝WAP</option>
                </select>
                <i class="arrow double"></i>
            </label>
        </div>
        <h6 class="fw400">用户类型</h6>
        <div class="section mb15">
            <label class="field select">
                <select id="searchUserType" name="searchUserType" data-field="user_type">
                    <option value="-1" <%= searched.user_type == -1 ? 'selected' : '' %>>所有</option>
                    <option value="1" <%= searched.user_type == 1 ? 'selected' : '' %>>新用户</option>
                    <option value="2" <%= searched.user_type == 2 ? 'selected' : '' %>>次日用户</option>
                    <option value="3" <%= searched.user_type == 3 ? 'selected' : '' %>>周用户</option>
                    <option value="4" <%= searched.user_type == 4 ? 'selected' : '' %>>老用户</option>
                </select>
                <i class="arrow double"></i>
            </label>
        </div>
        <hr class="short">

        <button class="btn btn-default btn-block" type="button" id="search">搜索</button>

    </div>
</aside>
<!-- End: Right Sidebar -->
